* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: white;
}

a {
  color: #FF549C;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
  color: orange;
}

.shell {
  height: 100%;
  width: 100%;
  background: url("../images/87851.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

body, html {
  height: 100%;
  width: 100%;
}

nav {
  width: 100%;
  height: 50px;
  position: relative;
  background-color: rgb(0, 0, 0, .25);
  z-index: 100;
}

.social-links {
  list-style: none;
  float: left;
  display: flex;
  height: 35px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.social-links li {
  padding: 0 5px;
}

.social-links li img{
  max-height: 100%;
  transition: all .2s ease-in-out;
}

.social-links li img:hover {
  transform: scale(1.2);
  filter: invert(1);
}

.nav-links {
  list-style: none;
  float: right;
  display: flex;
  position: relative;
  top: 50%;
  transform: translateY(-40%);
}

.nav-links li {
  padding: 0 35px;
}

.nav-links li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.nav-links li a:hover {
  transform: scale(1.3);
  color: orange;
}

.nav-links li .current {
  color: orange;
  transform: scale(1.3);
}

.nav-links li a span {
  position: absolute;
  display: block;
  border-radius: 5px;
}

.nav-links li a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: white;
}

.nav-links li a:hover span:nth-child(1) {
  left: 0%;
  transition: .5s;
}

.nav-links li a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: white;
}

.nav-links li a:hover span:nth-child(2) {
  top: 0%;
  transition: .5s;
  transition-delay: 0.1s;
}

.nav-links li a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: white;
}

.nav-links li a:hover span:nth-child(3) {
  right: 0%;
  transition: .5s;
  transition-delay: 0.2s;
}

.nav-links li a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: white;
}

.nav-links li a:hover span:nth-child(4) {
  bottom: 0%;
  transition: .5s;
  transition-delay: 0.3s;
}

.main-title {
  overflow: hidden;
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  top: 25%;
  transform: translateY(-25%);
  transition: all .5s ease-in-out;
}

.main-title h1 {
  font-size: 7rem;
  text-shadow: 3px 3px 3px rgb(0, 0, 0, .5);
}

.main-title h3 {
  font-size: 2rem;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, .75);
}

.main-div {
  background-color: rgb(0, 0, 0, .6);
  text-align: center;
  width: 75%;
  margin: 0 auto;
  position: relative;
  top: 10%;
}

.main-div .title {
  font-size: 2.5rem;
  padding: 10px;
}

.main-div .info {
  font-size: 1.5rem;
  padding: 10px;
}

.footer-space {
  height: 250px;
}

.project {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.project-title {
  width: 30%;
  padding: 10px;
}

.project-desc {
  font-size: 1.15rem;
  width: 70%;
  padding: 0px 20px;
}

.extra-info {
  font-size: .75rem;
  padding: 10px;
}

@media screen and (max-width: 925px) {
  .project {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
  }

  .project-title {
    width: 100%;
  }
  
  .project-desc {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .footer-space {
    height: 225px;
  }
  
  a:hover {
    color: #FF549C;
  }

  .social-links {
    float: none;
    justify-content: center;
  }

  .social-links li {
    width: 50%;
  }

  .social-links li:nth-child(1) img {
    float: left;
  }

  .social-links li:nth-child(2) img {
    float: right;
  }

  .social-links li img:hover {
    transform: scale(1);
    filter: invert(0);
  }

  .nav-links {
    position: fixed;
    width: 100%;
    background-color: rgb(255,120,180);
    justify-content: center;
    top: auto;
    bottom: -6vh;
  }

  .nav-links li {
    height: 12vh;
    width: 25%;
    text-align: center;
    padding: 0;
  }
  
  .nav-links li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    transition: all .2s ease-in-out;
    overflow: hidden;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .nav-links li a:hover {
    transform: scale(1);
    position: relative;
    top: 50%;
    transform: translateY(-55%);
  }
  
  .nav-links li .current {
    color: orange;
    transform: scale(1);
    position: relative;
    top: 50%;
    transform: translateY(-55%);
  }

  .main-title h1 {
    font-size: 3.5rem;
  }

  .main-title h3 {
    font-size: 1.25rem;
  }

  .main-div {
    width: 95%;
  }

  .main-div .title {
    font-size: 2rem;
  }

  .main-div .info p {
    padding: 5px 15px;
  }

  .main-div .info .about-me {
    font-size: 1.25rem;
  }

  .info a {
    display: inline-block;
    width: 100%;
  }
}